# Limpieza de datos

## Acerca del conjunto de datos
### Contexto
El conjunto de datos original contiene 1000 entradas con 10 atributos categóricos/simbólicos preparados por el profesor Hofmann. En este conjunto de datos, cada entrada representa a una persona que solicita un crédito a un banco. Cada persona se clasifica como de riesgo crediticio bueno o malo según el conjunto de atributos.

In [45]:
import pandas as pd

df = pd.read_csv('german_credit_data.csv')

print(df)

     Unnamed: 0  Age     Sex  Job Housing Saving accounts Checking account  \
0             0   67    male    2     own             NaN           little
1             1   22  female    2     own          little         moderate
2             2   49    male    1     own          little              NaN
3             3   45    male    2    free          little           little
4             4   53    male    2    free          little           little
..          ...  ...     ...  ...     ...             ...              ...
995         995   31  female    1     own          little              NaN
996         996   40    male    3     own          little           little
997         997   38    male    2     own          little              NaN
998         998   23    male    2    free          little           little
999         999   27    male    2     own        moderate         moderate

     Credit amount  Duration              Purpose
0             1169         6             radio/TV
1             5951        48             radio/TV
2             2096        12            education
3             7882        42  furniture/equipment
4             4870        24                  car
..             ...       ...                  ...
995           1736        12  furniture/equipment
996           3857        30                  car
997            804        12             radio/TV
998           1845        45             radio/TV
999           4576        45                  car

[1000 rows x 10 columns]

## Eliminamos la variable unnamed ya que esta variable no es necesaria

In [46]:
# Eliminar la columna 'Unnamed: 0' si no es necesaria
df = df.drop(columns=['Unnamed: 0'])

print(df)

     Age     Sex  Job Housing Saving accounts Checking account  Credit amount  \
0     67    male    2     own             NaN           little           1169
1     22  female    2     own          little         moderate           5951
2     49    male    1     own          little              NaN           2096
3     45    male    2    free          little           little           7882
4     53    male    2    free          little           little           4870
..   ...     ...  ...     ...             ...              ...            ...
995   31  female    1     own          little              NaN           1736
996   40    male    3     own          little           little           3857
997   38    male    2     own          little              NaN            804
998   23    male    2    free          little           little           1845
999   27    male    2     own        moderate         moderate           4576

     Duration              Purpose
0           6             radio/TV
1          48             radio/TV
2          12            education
3          42  furniture/equipment
4          24                  car
..        ...                  ...
995        12  furniture/equipment
996        30                  car
997        12             radio/TV
998        45             radio/TV
999        45                  car

[1000 rows x 9 columns]

## Buscamos en las variables los valores nulos o faltantes 

Encontramos que en las variables Saving accounts  hay 183 valores faltantes  y  en la variable Checking account   hay 394 valores faltantes.

In [47]:
# valores nulos en la data
print("\nValores nulos por columna:")
print(df.isnull().sum())

Valores nulos por columna:
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64

In [48]:
# Valores únicos y frecuencias de 'Saving accounts'
print("Valores únicos en 'Saving accounts':")
print(df['Saving accounts'].value_counts(dropna=False))
print("\n")

Valores únicos en 'Saving accounts':
Saving accounts
little        603
NaN           183
moderate      103
quite rich     63
rich           48
Name: count, dtype: int64

In [49]:
df = df.dropna(subset=['Saving accounts'])

In [50]:
# Valores únicos y frecuencias de 'Saving accounts'
print("Valores únicos en 'Saving accounts':")
print(df['Saving accounts'].value_counts(dropna=False))
print("\n")

Valores únicos en 'Saving accounts':
Saving accounts
little        603
moderate      103
quite rich     63
rich           48
Name: count, dtype: int64

### Se eliminan los valores nulos de las variables de la variable Saving accounts

In [51]:
# Valores únicos y frecuencias de 'Checking account'
print("Valores únicos en 'Checking account':")
print(df['Checking account'].value_counts(dropna=False))

Valores únicos en 'Checking account':
Checking account
NaN         295
little      245
moderate    224
rich         53
Name: count, dtype: int64

In [52]:
df = df.dropna(subset=['Checking account'])

In [53]:
# Valores únicos y frecuencias de 'Checking account'
print("Valores únicos en 'Checking account':")
print(df['Checking account'].value_counts(dropna=False))

Valores únicos en 'Checking account':
Checking account
little      245
moderate    224
rich         53
Name: count, dtype: int64

### Se eliminan los valores nulos de las variables de la variable Checking account

In [ ]:
print(df)

### Ya terminada la limpieza de los datos la base de datos tiene 522 observaciones y 9 variables.